<div class="container">
  <h1 class="text-center"><%= t("page-title") %></h1>

  <%= form({action:"/", method: "PUT", class: "password-change-form hor"}) { %>
    <%= f.InputTag({name:"Username", label: t("username-label") }) %>
    <%= f.InputTag({name:"CurrentPassword", label: t("current-password-label"), type: "password" }) %>
    <%= f.InputTag({name:"NewPassword", label: t("new-password-label"), type: "password" }) %>
    <%= f.InputTag({name:"ConfirmPassword", label: t("confirm-password-label"), type: "password" }) %>
    <div class="text-center">
      <%= f.SubmitTag(t("change-password-btn"), {class:"btn btn-danger"}) %>
    </div>
  <% } %>
</div>